{% extends "baseDjango/base.html" %}

{% block title %} Eventos V2
{% endblock %}

{% block contenido %}
<h1 style="float: right; margin-right: 30%;"><a href="/" class="link-danger">Volver al inicio</a></h1>
<h1 style="float: right; margin-right: 2%;"><a href="{% url 'events:event_createV2'%}"">Crear evento</a></h1>

{% if events %}
<div class=" encuadre">
    <ul>
        {% for event in events %}
        <h1><a href="{% url 'events:event_detailsV2' event.id %}">{{event.title}}</a></h1>
        <h2>{{event.subtitle}}</h2>
        <h2>{{event.start_date}}</h2>
        <h2>{{event.end_date}}</h2>
        {% endfor %}
    </ul>
</div>
{% else %}
<p>No events are available.</p>
{% endif %}
{% endblock %}