{% extends "baseDjango/base.html" %}

{% block title %} Gymkana
{% endblock %}

{% block contenido %}
{% if three_latest_news %}
<h1><a href="{% url 'news:list_all_newsV1'%}"">Noticias por funciones</a></h1>
<h1><a href=" {% url 'news:list_all_newsV2' %}"">Noticias por clase</a></h1>

<div class="encuadre">
    <ul>
        {% for new in three_latest_news %}
        <h3 class="titulo"><a href="{% url 'news:detailsV1' new.id%}"">{{new.title}}</a></h3>
        {% if new.image == "/static/news/images/new.png" %} <img width="100px" height="100px" style="padding: 2%;"
                src="{{new.image}}">
                {% else %}
                <img width="100px" height="100px" style="padding: 2%;" src="{{new.image.url}}">
                {% endif %}
                {% endfor %}
    </ul>
</div>

{% else %}
<p>No news are available.</p>

{% endif %}

<h1><a href=" {% url 'events:list_all_eventsV2' %}"">Eventos por clase</a></h1>

{% if three_latest_events %}
<div class="encuadre">
    <ul>
        {% for event in three_latest_events %}
        <h3 class="titulo"><a href="{% url 'events:event_detailsV2' event.id%}"">{{event.title}}</a></h3>
        {% endfor %}
    </ul>
    {% else %}
    <p>No events are available.</p>
    {% endif %}
    {% endblock %}