{% extends "base.html" %}

{% if three_latest_news %}
<h1><a href="{% url 'news:list_all_newsV1'%}"">Noticias por funciones</a></h1>
<h1><a href="{% url 'news:list_all_newsV2'%}"">Noticias por clase</a></h1>

<div class="encuadre">
    <ul>
        {% for new in three_latest_news %}
        <h3 class="titulo">{{new.title}}</h3>
        <img width="100px" height="100px" src="{{new.image.url}}">
        {% endfor %}
    </ul>
</div>

{% else %}
<p>No news are available.</p>

{% endif %}

{% if three_latest_events %}
<div class="encuadre">
<ul>
    {% for event in three_latest_events %}
    <h2 class="titulo">{{ event.title }}</h2>
    {% endfor %}
</ul>
{% else %}
<p>No events are available.</p>
{% endif %}