{% extends "baseDjango/base.html" %}

{% block title %} Noticias V2
{% endblock %}

{% block contenido %}

<h1 style="float: right; margin-right: 30%;"><a href="{% url 'news:create_newsV2'%}"">Crear noticia</a></h1>

{% if news %}
<div class=" encuadre">
        <ul>
            {% for new in news %}
            <h1><a href="{% url 'news:detailsV2' new.id %}">{{new.title}}</a></h1>
            <h2>{{new.subtitle}}</h2>
            {% endfor %}
        </ul>
        </div>
        {% else %}
        <p>No news are available.</p>
        {% endif %}
        {% endblock %}