<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ new.title }}</title>
    {% load static %}
    {% load bootstrap3 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <style>
        #heading {
            background-image: url({{ new.image.url }});
            background-repeat: no-repeat;
        }

        #heading > h1, #heading > h2 {
            color: lightgoldenrodyellow;
        }

        #article {
            background-color: darkslategrey;
        }

        #article p {
            color: lightgoldenrodyellow;
        }
    </style>
</head>
<body>
    <div id="article" class="jumbotron">
        <div id="heading" class="container">
            <h1>{{ new.title }}</h1>
            <h2> {{ new.subtitle }}</h2>
        </div>
        <div class="container">
            <p>{{ new.body }}</p>
            <p>{{ new.publish_date }}</p>
            <figure class="new_photo">
                <img class="img-responsive" src="{{ new.image.url }}" alt="{{ new.subtitle }}">
            </figure>
        </div>
    </div>
</body>
</html>